<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Get Weather</title>
    </head>
    <body>
        <form action="/" method="POST">
            <div class="container">
                <input type="text" placeholder="Enter a City" id="city" name="city" autocomplete=off>
                <button type="submit">Get Weather!</button>
                <% if(error === false){ %>
                    <p id="weather"><%= text %></p>
                  <% } %>
                  <% if(error === true){ %>
                    <p id="error"><%= text %></p>
                <% } %>
            </div>
        </form>
    </body>
</html>