.container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text] {
    font-size: 24px;
    width: 500px;
    margin-bottom: 50px;
    padding: 20px;
    outline: none;
    border: none;
    border: none;
    color: #a3a3a3;
}

input[type=text]::placeholder {
    color: #a3a3a3;
}

input[type=text]:focus {
    border-bottom: 2px solid #a3a3a3;
}

button[type=submit] {
    all: unset;
    font-size: 20px;
    width: 520px;
    height: 30px;
    text-align: center;
    border: 2px solid #a3a3a3;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

button[type=submit]:hover {
    background: #416cbd;
    color: white;
}

#weather {
    margin: 50px;
    width: 545px;
    color: #2e50ad;
    font-size: 20px;
}

#error {
    margin: 50px;
    width: 545px;
    color: #ff4848;
    font-size: 20px;
}